/* most css taken from https://jgthms.com/web-design-in-4-minutes/ */
@import 'https://fonts.googleapis.com/css?family=Roboto|Avenir';

body {
    margin: 0px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
main {
    margin: 0 auto;
    max-width: 50rem;
    line-height: 1.5;
    padding: 4rem 1rem;
}

h3 {
    margin-top: 1rem;
    padding-top: 1rem;
}

a {
    color: #e81c4f;
}

header a {
    font-size: 2.5rem;
    font-family: sans-serif;
    text-decoration: none;
}

header {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #333;
  padding: 5vh 2em;
  text-align: center;
}

header img {
  background-size: cover;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
}

header h1 {
    letter-spacing: .5rem;
    font-weight: bolder;
}

header h1,
header h4 {
    font-family: "Avenir", sans-serif;
    color: white;
}

code,
pre {
  background: #eee;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  padding: 1rem;
  border-left: 2px solid #69c;
  border-bottom: 1px solid #d8dee9;
}
