.md-grid {
  max-width: 720px; 
}

.circular {
  border-radius: 50%
}

img.icon {
  height: 255px;
  width: 255px;
}

.round {
  border-radius: 1%
}
.centered {
  text-align: center;
  display: block;
  margin: auto;
}
